Checks: |
  clang-diagnostic-*,
  clang-analyzer-*,
  google-*,
  readability-*,
  modernize-*,
  performance-*,
  readability-identifier-naming,
  -google-runtime-references,
  -google-readability-todo,
  -modernize-use-trailing-return-type

WarningsAsErrors: "*"